<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">
        <img class="app-sidebar__user-avatar"
             src="https://media.licdn.com/dms/image/C4D03AQELXyVfSR-zWA/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=nI9YoP1aua4Kas24K2VZ_PGWXBMFnEqLNFksSkpg3Vo"
             alt="User Image">
        <div>
            <p class="app-sidebar__user-name">The Running Dev</p>
            <p class="app-sidebar__user-designation">Software Engineer</p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item active" href="/"><i class="app-menu__icon fa fa-dashboard"></i><span
                class="app-menu__label">Dashboard</span></a>
        </li>
    </ul>
</aside>
